/*
 * -------------------------------------------------
 *  Nextflow config file for LPiGK (CeNT, Warsaw)
 * -------------------------------------------------
 * Use as follows:
 * nextflow run nf-core/eager -profile test, docker (or singularity, or conda)
 */



params {
  config_profile_name = 'LPiGK - general profile'
  config_profile_description = 'Configuration file for the whole Laboratory of Paleogenetics and Conservation Genetics (LPiGK) at the University of Warsaw'
  // Limit resources so that this can run on GitHub Actions
  max_cpus = 16
  max_memory = 25.GB
  max_time = 48.h
  
  common_files_path = "/home/users/fleotta/common_files"
}
