/*
 * -------------------------------------------------
 *  Nextflow config file for Human analysis, LPiGK (CeNT, Warsaw)
 * -------------------------------------------------
 * Use as follows:
 * nextflow run nf-core/eager -profile test, docker (or singularity, or conda)
 */

includeConfig 'lpigk_warsaw.config'

params {
  config_profile_name = 'LPiGK - human profile'
  config_profile_description = 'Configuration file for the human analysis at the Laboratory of Paleogenetics and Conservation Genetics (LPiGK) at the University of Warsaw'
  // Limit resources so that this can run on GitHub Actions

  
  
  
  // Input references
  fasta = "${params.common_files_path}/references/hs37d5.fa"
  bwa_index = "${params.common_files_path}/references/"
  
  // Sex determination
  run_sexdeterrmine = true
  sexdeterrmine_bedfile = "${params.common_files_path}/genotyping/1240K.pos.list_hs37d5.0based.bed"
  
  // Nuclear contamination
  run_nuclear_contamination = true
  contamination_chrom_name = 'X' // Default to using hs37d5 name
  
  // Genotyping
  run_genotyping = true
  genotyping_tool = 'pileupcaller'
  // Sequencetools pileupCaller
  pileupcaller_snpfile = "${params.common_files_path}/genotyping/1240K.snp"
  pileupcaller_bedfile = "${params.common_files_path}/genotyping/1240K.pos.list_hs37d5.0based.bed"
}

